<div class="flex justify-center items-center" id="footer">
    <a
        href="https://www.linkedin.com/in/everglow/"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer hover:opacity-90 transition-opacity duration-300 ease-in-out"
    >
        <img
            src="https://everglow.es/wp-content/uploads/2023/05/1.png"
            alt="Everglow"
            class="h-10 mx-auto"
        />
    </a>
</div>
