---
import ColorModeButton from './ColorModeButton';
---

<header>
    <div class="flex justify-between items-center p-4 pl-2 lg:pl-20">
        <a
            href="https://www.linkedin.com/in/everglow/"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-pointer hover:opacity-90 transition-opacity duration-300 ease-in-out"
        >
            <img
                src="https://everglow.es/wp-content/uploads/2023/05/1.png"
                alt="Everglow"
                class="h-12"
            />
        </a>

        <div class="flex">
            <!-- <div class="mr-4">
                <ColorModeButton client:only />
            </div> -->

            <div>
                <a
                    href="https://www.linkedin.com/company/everglow-sl"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="cursor-pointer hover:opacity-50 transition-opacity duration-300 ease-in-out mr-[-20%] lg:mr-5"
                >
                    <img
                        src="/icons/linkedin.png"
                        alt="linkedin"
                        class="size-7"
                    />
                </a>
            </div>
        </div>
    </div>
</header>
