<header>
    <div class="flex justify-between items-center p-4 pl-2 lg:pl-20">
        <a
            href="https://www.linkedin.com/in/everglow/"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-pointer hover:opacity-90 transition-opacity duration-300 ease-in-out"
        >
            <img src="/images/logo.png" alt="Everglow" class="h-12" />
        </a>

        <a
            href="https://www.linkedin.com/company/everglow-sl"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-pointer mr-2
                hover:scale-110 transition-transform duration-300 ease-in-out"
        >
            <img src="/icons/linkedin.png" alt="linkedin" class="size-7" />
        </a>
    </div>
</header>
