<div class="mt-36">
    <div class="text-center mb-10">
        <h2 class="mb-10">¿Cómo va eso de compartir el proceso?</h2>

        <span class="description">
            💫 Potenciamos tu creatividad con libertad para <strong
                >crear contenido.</strong
            >
            Ofrecemos <strong>asesoramiento técnico sin coste</strong>, dándote
            las herramientas y la confianza para contar la historia de tu
            proyecto y conectar con tu audiencia. Con Everglow, tu viaje
            innovador es también tu narrativa.
        </span>
    </div>

    <div class="grid grid-cols-3 gap-4 my-20">
        <div class="col-span-1 text-center">
            <img
                src="/icons/badge.svg"
                alt="Desarrollo web"
                class="size-12 mb-10 mx-auto"
            />

            <h3 class="mx-auto mb-6">Desarrollo con transparencia</h3>

            <span class="text-lg subtitle">
                Tu proyecto merece un escaparate. Te acompañamos para mostrar al
                mundo <strong>el cómo y el porqué de tu app</strong>, con la
                misma <strong>transparencia y entusiasmo</strong> que tienes tú.
            </span>
        </div>
        <div class="col-span-1 text-center">
            <img
                src="/icons/badge.svg"
                alt="Desarrollo web"
                class="size-12 mb-10 mx-auto"
            />

            <h3 class="mx-auto mb-6">Juntos en cada paso</h3>
            <span class="text-lg subtitle">
                Más allá de un proyecto, buscamos <strong
                    >historias para cocrear.</strong
                > Nos comprometemos a largo plazo, deseando seguir siendo parte de
                tu viaje incluso después del lanzamiento.
            </span>
        </div>
        <div class="col-span-1 text-center">
            <img
                src="/icons/badge.svg"
                alt="Desarrollo web"
                class="size-12 mb-10 mx-auto"
            />

            <h3 class="mx-auto mb-6">Aliados en tu viaje</h3>
            <span class="text-lg subtitle">
                Hablamos del maravilloso <strong>dinero</strong>. En Everglow
                ofrecemos <strong>varias formas de pago</strong>, desde
                fraccionado hasta pagar una parte con el % de los beneficios del
                proyecto.
            </span>
        </div>
    </div>
</div>
