<div class="p-0 lg:p-10">
    <h3
        class="text-2xl mb-3 ml-1 text-left font-bold bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 bg-clip-text text-transparent"
    >
        El proceso
    </h3>
    <h2 class="mb-4">驴C贸mo se materializa tu visi贸n?</h2>

    <div>
        <span class="text-left"
            > Nuestro enfoque 煤nico transforma tus ideas en una realidad
            digital con precisi贸n y <span
                class="font-bold
                text-lg
                    text-yellow-500"
                >velocidad.</span
            ></span
        >
    </div>

    <div class="max-w-4xl mt-20 mx-auto ml-6 lg:ml-0">
        <div class="relative border-l-2 border-purple-300">
            <div class="mb-10 ml-6">
                <span
                    class="flex absolute -left-4 justify-center items-center size-8 bg-purple-100 rounded-full ring-8 ring-purple-100"
                >
                    
                </span>
                <div class="ml-2">
                    <h3 class="mb-1">Visi贸n y Planificaci贸n Personalizada</h3>
                    <time
                        class="block mb-2 text-sm font-normal leading-none text-gray-900"
                        >Inicio</time
                    >
                    <span>
                        Comparte tu visi贸n con nosotros para que, mediante
                        asesoramiento experto gratuito, podamos crear una
                        soluci贸n personalizada.
                    </span>
                </div>
            </div>

            <div class="mb-10 ml-6">
                <span
                    class="flex absolute -left-4 justify-center items-center size-8 bg-purple-100 rounded-full ring-8 ring-purple-100"
                >
                    
                </span>
                <div class="ml-2">
                    <h3 class="mb-1">Estrategia Financiera Adaptada</h3>
                    <time
                        class="block mb-2 text-sm font-normal leading-none text-gray-900"
                        >Planificaci贸n</time
                    >
                    <span>
                        Trabajaremos juntos para definir el alcance de tu
                        proyecto con un presupuesto transparente y ajustado a
                        tus objetivos.
                    </span>
                </div>
            </div>

            <div class="ml-6">
                <span
                    class="flex absolute -left-4 justify-center items-center size-8 bg-purple-100 rounded-full ring-8 ring-purple-100"
                >
                    
                </span>
                <div class="ml-2">
                    <h3 class="mb-1">Lanzamiento y Soporte Continuo</h3>
                    <time
                        class="block mb-2 text-sm font-normal leading-none text-gray-900"
                        >Implementaci贸n</time
                    >
                    <span>
                        Es tu momento de brillar con un gran lanzamiento que
                        capture la atenci贸n y genere impacto.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
