<div class="text-center my-24">
    <h2 class="mb-10 text-light-TITLE2 dark:text-dark-TITLE2">
        Conoce un poco más sobre lo que hacemos
    </h2>

    <span
        class="max-w-2xl
        mx-auto
        text-2xl
        description
        text-center
            justify-center text-light-STRONG dark:text-dark-STRONG"
    >
        Dando vida digital a tus ideas, elegimos <strong
            class="text-light-STRONG dark:text-dark-STRONG"
            >calidad sobre cantidad</strong
        >, atendiendo a pocos clientes para asegurar <strong
            class="text-light-STRONG dark:text-dark-STRONG"
            >excelencia y dedicación.</strong
        >
        Especialistas en <strong class="text-light-STRONG dark:text-dark-STRONG"
            >productos web complejos, Landings impactantes y apps móviles.</strong
        >
    </span>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-24 mx-2 lg:mx-0">
        <img
            src="/images/webdev.png"
            alt="Frontend"
            class="rounded-xl mr-10 hidden lg:block"
            width="450px"
        />

        <div class="text-left my-4 w-full">
            <div class="flex gap-4 mb-4">
                <img
                    src="/images/wordpress.png"
                    alt="Desarrollo web"
                    class="size-12"
                />
                <img
                    src="/icons/react.svg"
                    alt="Desarrollo web"
                    class="size-12"
                />
            </div>
            <h3
                class="text-4xl font-bold mb-3 text-light-TITLE3 dark:text-dark-TITLE3"
            >
                Desarrollo de productos web
            </h3>
            <span
                class="text-left text-xl text-light-STRONG dark:text-dark-STRONG"
                >👨‍💻 Trasciende la landing básica con nuestras <strong
                    class="text-light-STRONG dark:text-dark-STRONG"
                    >webs artesanales:</strong
                > dashboards avanzados, inmersión 3D e interactividad compleja. Excelencia
                en desarrollo para concretar las ideas más ambiciosas.</span
            >
        </div>

        <img
            src="/images/webdev.png"
            alt="Frontend"
            class="rounded-xl mr-10 sm:block block lg:hidden"
            width="450px"
        />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-24 mb-20 mx-2 lg:mx-0">
        <div class="mr-10 text-left w-full">
            <div class="flex gap-4 mb-4">
                <img
                    src="/images/swift.png"
                    alt="Desarrollo web"
                    class="size-12"
                />
                <img
                    src="/images/android.png"
                    alt="Desarrollo web"
                    class="size-12"
                />
            </div>
            <h3
                class="text-4xl font-bold mb-3 text-light-TITLE3 dark:text-dark-TITLE3"
            >
                Desarrollo de Apps Móviles
            </h3>
            <span
                class="text-left text-xl w-full text-light-STRONG dark:text-dark-STRONG"
                >🤳🏼 Convierte tu idea en una app para iOS o Android
                irresistible. <strong
                    class="text-light-STRONG dark:text-dark-STRONG"
                    >Diseñamos y desarrollamos aplicaciones intuitivas</strong
                >, con características novedosas e innovadoras y perfectamente
                optimizadas para impulsar la interacción y la fidelidad del
                usuario.</span
            >
        </div>

        <img
            src="/images/mobile.png"
            alt="Desarrollo Móvil"
            class="rounded-xl mt-[-50px] lg:mt-0"
            width="450px"
        />
    </div>

    <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-2 lg:mx-0 mt-[-50px] lg:mt-0"
    >
        <img
            src="/images/excalidraw.png"
            alt="Asesoramiento técnico"
            class="rounded-xl mr-10 hidden lg:block"
            width="450px"
        />

        <div class="text-left w-full">
            <img
                src="/icons/badge.svg"
                alt="Desarrollo web"
                class="size-12 mb-4"
            />
            <h3
                class="text-4xl font-bold mb-3 text-light-TITLE3 dark:text-dark-TITLE3"
            >
                Asesoramiento Técnico
            </h3>
            <span
                class="text-left text-xl mb-4 text-light-STRONG dark:text-dark-STRONG"
                >🚀 Impulsa tu proyecto con nuestra <strong
                    class="text-light-STRONG dark:text-dark-STRONG"
                    >consultoría técnica gratuita.</strong
                > Te brindamos la orientación experta que necesitas para tomar decisiones
                informadas y llevar tu idea al siguiente nivel. En Everglow, tu éxito
                es nuestra prioridad y lo demostramos desde el primer momento.</span
            >
        </div>

        <img
            src="/images/excalidraw.png"
            alt="Asesoramiento técnico"
            class="rounded-xl mr-10 sm:block block lg:hidden"
            width="450px"
        />
    </div>
</div>
