<div class="text-center my-24">
    <h2 class="mb-10">Conoce un poco más sobre lo que hacemos</h2>

    <span
        class="max-w-2xl
        mx-auto
        text-2xl
        description
        text-center
            justify-center"
    >
        Dando vida digital a tus ideas, elegimos <strong
            >calidad sobre cantidad</strong
        >, atendiendo a pocos clientes para asegurar <strong
            >excelencia y dedicación.</strong
        >
        Especialistas en <strong
            >productos web complejos, Landings impactantes y apps móviles.</strong
        >
    </span>

    <div class="grid grid-cols-2 gap-4 mt-24">
        <img
            src="/images/threejs.png"
            alt="Frontend"
            class="rounded-xl mr-10 shadow-2xl animated-card-left"
            width="450px"
        />

        <div class="ml-10 text-left w-full">
            <img
                src="/icons/react.svg"
                alt="Desarrollo web"
                class="size-12 mb-10"
            />
            <h3 class="text-4xl font-bold mb-3">Desarrollo de productos web</h3>
            <span class="text-left text-xl"
                >👨‍💻 Trasciende la landing básica con nuestras <strong
                    >webs artesanales:</strong
                > dashboards avanzados, inmersión 3D e interactividad compleja. Excelencia
                en desarrollo para concretar las ideas más ambiciosas.</span
            >
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 my-24">
        <div class="mr-10 text-left w-full">
            <img
                src="/icons/apple.svg"
                alt="Desarrollo web"
                class="size-12 mb-10"
            />
            <h3 class="text-4xl font-bold mb-3">Desarrollo de Apps Móviles</h3>
            <span class="text-left text-xl w-full"
                >🤳🏼 Convierte tu idea en una app para iOS o Android
                irresistible. <strong
                    >Diseñamos y desarrollamos aplicaciones intuitivas</strong
                >, con características novedosas e innovadoras y perfectamente
                optimizadas para impulsar la interacción y la fidelidad del
                usuario.</span
            >
        </div>

        <img
            src="/images/flutter.png"
            alt="Desarrollo Móvil"
            class="rounded-xl ml-10 mt-12 shadow-2xl animated-card-right"
            width="450px"
        />
    </div>

    <div class="grid grid-cols-2 gap-4">
        <img
            src="/images/excalidraw.png"
            alt="Asesoramiento técnico"
            class="rounded-xl mr-10 mt-12 shadow-2xl animated-card-left"
            width="450px"
        />

        <div class="ml-10 text-left w-full">
            <img
                src="/icons/badge.svg"
                alt="Desarrollo web"
                class="size-12 mb-10"
            />
            <h3 class="text-4xl font-bold mb-3">Asesoramiento Técnico</h3>
            <span class="text-left text-xl"
                >🚀 Impulsa tu proyecto con nuestra <strong
                    >consultoría técnica gratuita.</strong
                > Te brindamos la orientación experta que necesitas para tomar decisiones
                informadas y llevar tu idea al siguiente nivel. En Everglow, tu éxito
                es nuestra prioridad y lo demostramos desde el primer momento.</span
            >
        </div>
    </div>
</div>

<style>
    @media (pointer: fine) {
        .animated-card-left:hover {
            transform: scale(1.05) rotate(-5deg);
            transition: transform 0.5s;
        }

        .animated-card-right:hover {
            transform: scale(1.05) rotate(5deg);
            transition: transform 0.5s;
        }
    }
</style>
