---
import AnimatedWord from './AnimatedWord';
---

<div class="my-10 w-full" id="title">
    <h1 class="text-center">
        Desarrolla tu<AnimatedWord
            client:load
            words={['misión', 'visión', 'futuro']}
        />con Everglow
    </h1>

    <button
        class="mx-auto flex items-center justify-center px-6 py-3 mt-12 lg:mt-10
    border-2 border-black border-dashed hover:border-solid
text-base font-medium rounded-md outline-none focus:ring-2 focus:ring-offset-2
focus:ring-black transition-all duration-300 ease-in-out hover:bg-gray-100
hover:animate-pulse hover:shadow-lg cursor-pointer"
        id="redirectButton"
    >
        <img
            alt="form-redirect-button"
            class="h-7 mr-2
    transition-all duration-300 ease-in-out"
            src="/icons/rocket_black.svg"
        />
        <h2 class="text-2xl font-bold">Empieza Tu Viaje Ahora</h2>
    </button>

    <div class="flex flex-col items-center justify-center mt-8">
        <span class="text-center lg:text-sm"
            >✅<strong class="ml-3">VALIDADOS POR SILICON VALLEY</strong></span
        >

        <div class="mt-10 lg:w-[100%] text-center">
            <span class="description">
                Eleva tu emprendimiento a dimensiones digitales donde la
                innovación y la estética se fusionan para crear magia ✨.
            </span>
        </div>
    </div>
</div>

<script>
    document.getElementById('redirectButton')?.addEventListener('click', () => {
        document.getElementById('footer')?.scrollIntoView({
            behavior: 'smooth',
        });
    });
</script>

<style>
    .spawn-animated {
        @apply from-blue-500 to-green-500 bg-gradient-to-r;
    }
</style>
