<div class="grid grid-cols-4 grid-rows-4 gap-4 p-4 mb-10">
    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; background-image: url('/images/threejs.png'); background-size: cover; background-position: center;"
    >
    </div>

    <div class="p-5 shadow-xl border rounded-xl mb-4 text-center">
        <span class="text-black font-bold rounded-full">Desarrollo Web</span>

        <div class="justify-center items-center flex">
            <img
                alt="form-redirect-button"
                class="h-7 mt-3 mr-2"
                src="/icons/rocket_black.svg"
            />
        </div>
    </div>
    <div class="p-5 shadow-xl border rounded-xl mb-4 text-center">
        <span class="text-black font-bold rounded-full">Desarrollo Móvil</span>

        <div class="justify-center items-center flex">
            <img
                alt="form-redirect-button"
                class="h-7 mt-3 mr-2"
                src="/icons/rocket_black.svg"
            />
        </div>
    </div>

    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; background-image: url('/images/flutter.png'); background-size: cover; background-position: center;"
    >
    </div>

    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; grid-column: span 2;"
    >
        <span
            class="text-black font-bold
            rounded-full text-lg text-left"
            >Tu Voz, Nuestra Transparencia. <br />
            <br /> Te ayudaremos para que crees contenido auténtico y atractivo en
            redes sociales, mientras te mantenemos al tanto de cada avance en el
            proceso de desarrollo con completa transparencia.
        </span>
    </div>

    <div
        class="p-5 shadow-xl border rounded-xl mb-4 text-center"
        style="grid-row: span 3;"
    >
        <div class="justify-start">
            <img
                alt="form-redirect-button"
                class="size-7 mt-3 mr-2 mb-10"
                src="/icons/rocket_black.svg"
            />
        </div>
        <span class="text-black font-bold rounded-full"
            >Asesoramiento Técnico</span
        >
    </div>
    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; background-image: url('/images/excalidraw.png'); background-size: cover; background-position: center;"
    >
    </div>
    <div
        class="p-5 shadow-xl border rounded-xl flex flex-wrap justify-start"
        style="grid-column: span 2;"
    >
        <span class="badge m-1 animate-marquee">Innovación </span>
        <span class="badge m-1 animate-marquee">Transparencia</span>
        <span class="badge m-1 animate-marquee">Perseverancia</span>
        <span class="badge m-1 animate-marquee">Creatividad</span>
        <span class="badge m-1 animate-marquee">Experiencia</span>
        <span class="badge m-1 animate-marquee">Determinación</span>
        <span class="badge m-1 animate-marquee">Comunicación</span>
        <span class="badge m-1 animate-marquee">Excelencia</span>
        <span class="badge m-1 animate-marquee">Pasión</span>
        <span class="badge m-1 animate-marquee">Agilidad</span>
        <span class="badge m-1 animate-marquee">Compromiso</span>
        <span class="badge m-1 animate-marquee">Valentía</span>
    </div>
</div>
