---
import AnimatedBadge from './AnimatedBadge';
---

<div>
    <div
        class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 grid-rows-1 md:grid-rows-2 lg:grid-rows-4 gap-4 p-4"
    >
        <div
            class="p-5 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET"
            style="grid-row: span 2; background-image: url('/images/web.svg'); background-size: cover; background-position: center;"
        >
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET text-center"
        >
            <div class="justify-center items-center flex mt-2">
                <img src="/images/website.png" class="h-12 mb-4" />
            </div>
            <span class="rounded-full text-lg"
                ><strong class="widget-title dark:widget-title-dark"
                    >Desarrollo Web</strong
                ></span
            >
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET text-center"
        >
            <div class="justify-center items-center flex mt-2">
                <img src="/images/devices.png" class="h-12 mb-4" />
            </div>
            <span class="rounded-full text-lg"
                ><strong class="widget-title-2 dark:widget-title-dark-2"
                    >Desarrollo M贸vil</strong
                ></span
            >
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET responsive-picture"
            style="grid-row: span 2; background-image: url('/images/app.svg'); background-size: cover; background-position: center;"
        >
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET"
            style="grid-row: span 2; grid-column: span 2;"
        >
            <div class="mb-3">
                <img src="/images/menu.svg" />
            </div>
            <div class="px-5">
                <span
                    class="text-black dark:text-white font-bold rounded-full text-lg text-left widget-subtitle dark:widget-subtitle-dark"
                    >En Everglow, destacamos en el desarrollo de SaaS, webs y
                    apps m贸viles. Nuestra metodolog铆a transparente asegura que
                    cada proyecto se alinee perfectamente con tus expectativas,
                    transformando tus ideas en soluciones efectivas.
                </span>
            </div>
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl text-center bg-white/70 dark:bg-dark-WIDGET mb-3.5"
            style="grid-row: span 3;"
        >
            <span
                class="text-black dark:text-white font-bold rounded-full text-lg"
                >Asesoramiento T茅cnico</span
            >
            <div class="justify-start">
                <img
                    alt="form-redirect-button"
                    class="mt-3 ml-5 mb-4"
                    src="/images/tips.svg"
                />
            </div>
        </div>
        <div
            class="p-5 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET large-responsive-picture"
            style="grid-row: span 2; background-image: url('/images/help.svg'); background-size: 100% 100%; background-position: center;"
        >
        </div>

        <div
            class="p-2 pt-2 lg:pt-6 xl:pt-8 mt-[-16px] lg:mt-0 shadow-xl border rounded-xl bg-white/70 dark:bg-dark-WIDGET flex flex-col justify-start"
            style="grid-column: span 2;"
        >
            <div class="overflow-hidden" style="width: 100%;">
                <div class="animate-marquee">
                    <div class="flex">
                        <AnimatedBadge client:load>Innovaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Transparencia</AnimatedBadge>
                        <AnimatedBadge client:load>Perseverancia</AnimatedBadge>
                        <AnimatedBadge client:load>Creatividad</AnimatedBadge>
                        <AnimatedBadge client:load>Experiencia</AnimatedBadge>
                        <AnimatedBadge client:load>Determinaci贸n</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Innovaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Transparencia</AnimatedBadge>
                        <AnimatedBadge client:load>Perseverancia</AnimatedBadge>

                        <AnimatedBadge client:load>Experiencia</AnimatedBadge>
                        <AnimatedBadge client:load>Determinaci贸n</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Innovaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Transparencia</AnimatedBadge>
                        <AnimatedBadge client:load>Perseverancia</AnimatedBadge>
                        <AnimatedBadge client:load>Creatividad</AnimatedBadge>
                        <AnimatedBadge client:load>Experiencia</AnimatedBadge>
                        <AnimatedBadge client:load>Determinaci贸n</AnimatedBadge>
                    </div>
                </div>
                <div class="animate-marquee-2">
                    <div class="flex">
                        <AnimatedBadge client:load>Comunicaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Excelencia</AnimatedBadge>
                        <AnimatedBadge client:load>Pasi贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Agilidad</AnimatedBadge>
                        <AnimatedBadge client:load>Compromiso</AnimatedBadge>
                        <AnimatedBadge client:load>Valent铆a</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Comunicaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Excelencia</AnimatedBadge>
                        <AnimatedBadge client:load>Pasi贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Agilidad</AnimatedBadge>
                        <AnimatedBadge client:load>Compromiso</AnimatedBadge>
                        <AnimatedBadge client:load>Valent铆a</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Comunicaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Excelencia</AnimatedBadge>
                        <AnimatedBadge client:load>Pasi贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Agilidad</AnimatedBadge>
                        <AnimatedBadge client:load>Compromiso</AnimatedBadge>
                        <AnimatedBadge client:load>Valent铆a</AnimatedBadge>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="text-center mb-10 mt-10 lg:mt-2 text-light-STRONG dark:text-dark-STRONG"
    >
         Powered By Everglow
    </div>
</div>

<style>
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .animate-marquee {
        display: flex;
        min-width: 200%;
        animation: marquee 20s linear infinite;
    }

    .animate-marquee-2 {
        display: flex;
        min-width: 200%;
        animation: marquee2 20s linear infinite;
    }

    .overflow-hidden {
        overflow: hidden;
        white-space: nowrap;
    }

    .badge {
        padding: 0.5rem 1rem;
        border-radius: 10%;
        background-color: #eee9f2;
        font-size: 0.95rem;
    }

    .widget-title {
        background: linear-gradient(to left, #3b5342, #0d3a4f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        background-color: white;
        font-weight: bold;
    }

    .widget-title-2 {
        background: linear-gradient(to right, #0d3a4f, #3b5342);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        background-color: white;
        font-weight: bold;
    }

    .widget-title-dark {
        background: linear-gradient(to right, #4c51bf, #805ad5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        background-color: #2d3748; /* Fondo oscuro */
        font-weight: bold;
    }

    .widget-title-dark-2 {
        background: linear-gradient(to right, #4c51bf, #805ad5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        background-color: #2d3748; /* Fondo oscuro */
        font-weight: bold;
    }

    .widget-subtitle {
        background: linear-gradient(to right, #6747fe, #b35cff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        background-color: white;
        font-weight: bold;
    }

    .widget-subtitle-dark {
        background: linear-gradient(to right, #4c51bf, #805ad5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        background-color: #2d3748; /* Fondo oscuro */
        font-weight: bold;
    }

    @media (max-width: 720px) {
        .responsive-picture {
            min-height: 200px;
            min-width: 412px;
        }

        .large-responsive-picture {
            min-height: 287px;
            max-height: 287px;
        }
    }
</style>
