---
import AnimatedBadge from './AnimatedBadge';
---

<div>
    <div class="grid grid-cols-4 grid-rows-4 gap-4 p-4">
        <div
            class="p-5 shadow-xl border rounded-xl"
            style="grid-row: span 2; background-image: url('/images/web.svg'); background-size: cover; background-position: center;"
        >
        </div>

        <div class="p-5 shadow-xl pt-10 border rounded-xl text-center">
            <span class="rounded-full"
                ><strong class="widget-title"
                    >Desarrollo Web de forma artesanal</strong
                ></span
            >
        </div>
        <div class="p-5 shadow-xl border rounded-xl text-center">
            <h2 class="justify-center items-center flex mt-2">こ</h2>
            <span class="rounded-full
                text-lg"
                ><strong class="widget-title-2">Desarrollo M贸vil</strong></span
            >
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl"
            style="grid-row: span 2; background-image: url('/images/app.svg'); background-size: cover; background-position: center;"
        >
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl"
            style="grid-row: span 2; grid-column: span 2;"
        >
            <div class="mb-3">
                <img src="/images/menu.svg" />
            </div>
            <div class="px-5">
                <span
                    class="text-black font-bold
            rounded-full text-lg text-left widget-subtitle"
                    >Te ayudaremos para que crees contenido aut茅ntico y
                    atractivo en redes sociales, mientras te mantenemos al tanto
                    de cada avance en el proceso de desarrollo con completa
                    transparencia.
                </span>
            </div>
        </div>

        <div
            class="p-5 shadow-xl border rounded-xl mb-4 text-center"
            style="grid-row: span 3;"
        >
            <span class="text-black font-bold rounded-full"
                >Asesoramiento T茅cnico</span
            >
            <div class="justify-start">
                <img
                    alt="form-redirect-button"
                    class="mt-3 ml-5 mb-10 size-4/5"
                    src="/images/tips.svg"
                />
            </div>
        </div>
        <div
            class="p-5 shadow-xl border rounded-xl"
            style="grid-row: span 2; background-image: url('/images/help.svg'); background-size: cover; background-position: center;"
        >
        </div>

        <div
            class="p-2 pt-4 shadow-xl border rounded-xl flex flex-col justify-start"
            style="grid-column: span 2;"
        >
            <div class="overflow-hidden" style="width: 100%;">
                <div class="animate-marquee">
                    <div class="flex">
                        <AnimatedBadge client:load>Innovaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Transparencia</AnimatedBadge>
                        <AnimatedBadge client:load>Perseverancia</AnimatedBadge>
                        <AnimatedBadge client:load>Creatividad</AnimatedBadge>
                        <AnimatedBadge client:load>Experiencia</AnimatedBadge>
                        <AnimatedBadge client:load>Determinaci贸n</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Innovaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Transparencia</AnimatedBadge>
                        <AnimatedBadge client:load>Perseverancia</AnimatedBadge>
                        <AnimatedBadge client:load>Creatividad</AnimatedBadge>
                        <AnimatedBadge client:load>Experiencia</AnimatedBadge>
                        <AnimatedBadge client:load>Determinaci贸n</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Innovaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Transparencia</AnimatedBadge>
                        <AnimatedBadge client:load>Perseverancia</AnimatedBadge>
                        <AnimatedBadge client:load>Creatividad</AnimatedBadge>
                        <AnimatedBadge client:load>Experiencia</AnimatedBadge>
                        <AnimatedBadge client:load>Determinaci贸n</AnimatedBadge>
                    </div>
                </div>
                <div class="animate-marquee-2">
                    <div class="flex">
                        <AnimatedBadge client:load>Comunicaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Excelencia</AnimatedBadge>
                        <AnimatedBadge client:load>Pasi贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Agilidad</AnimatedBadge>
                        <AnimatedBadge client:load>Compromiso</AnimatedBadge>
                        <AnimatedBadge client:load>Valent铆a</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Comunicaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Excelencia</AnimatedBadge>
                        <AnimatedBadge client:load>Pasi贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Agilidad</AnimatedBadge>
                        <AnimatedBadge client:load>Compromiso</AnimatedBadge>
                        <AnimatedBadge client:load>Valent铆a</AnimatedBadge>
                    </div>
                    <div class="flex">
                        <AnimatedBadge client:load>Comunicaci贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Excelencia</AnimatedBadge>
                        <AnimatedBadge client:load>Pasi贸n</AnimatedBadge>
                        <AnimatedBadge client:load>Agilidad</AnimatedBadge>
                        <AnimatedBadge client:load>Compromiso</AnimatedBadge>
                        <AnimatedBadge client:load>Valent铆a</AnimatedBadge>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mb-10"> Powered By Everglow</div>
</div>

<style>
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .animate-marquee {
        display: flex;
        min-width: 200%;
        animation: marquee 20s linear infinite;
    }

    .animate-marquee-2 {
        display: flex;
        min-width: 200%;
        animation: marquee2 20s linear infinite;
    }

    .overflow-hidden {
        overflow: hidden;
        white-space: nowrap;
    }

    .badge {
        padding: 0.5rem 1rem;
        border-radius: 10%;
        background-color: #eee9f2;
        font-size: 0.95rem;
    }

    .widget-title {
        background: linear-gradient(to left, gray, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        background-color: white;
        font-weight: bold;
    }

    .widget-title-2 {
        background: linear-gradient(to right, gray, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        background-color: white;
        font-weight: bold;
    }

    .widget-subtitle {
        background: linear-gradient(to right, #6747fe, #b35cff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        background-color: white;
        font-weight: bold;
    }
</style>
