<div class="grid grid-cols-4 grid-rows-4 gap-4 p-4 mb-10">
    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; background-image: url('/images/threejs.png'); background-size: cover; background-position: center;"
    >
    </div>

    <div class="p-5 shadow-xl border rounded-xl mb-4 text-center">
        <span class="text-black font-bold rounded-full">Desarrollo Web</span>

        <div class="justify-center items-center flex">
            <img
                alt="form-redirect-button"
                class="h-7 mt-3 mr-2"
                src="/icons/react.svg"
            />
        </div>
    </div>
    <div class="p-5 shadow-xl border rounded-xl mb-4 text-center">
        <span class="text-black font-bold rounded-full">Desarrollo Móvil</span>

        <div class="justify-center items-center flex">
            <img
                alt="form-redirect-button"
                class="h-7 mt-3 mr-2"
                src="/icons/apple.svg"
            />
        </div>
    </div>

    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; background-image: url('/images/flutter.png'); background-size: cover; background-position: center;"
    >
    </div>

    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; grid-column: span 2;"
    >
        <span
            class="text-black font-bold
            rounded-full text-lg text-left"
            >Tu Voz, Nuestra Transparencia. <br />
            <br /> Te ayudaremos para que crees contenido auténtico y atractivo en
            redes sociales, mientras te mantenemos al tanto de cada avance en el
            proceso de desarrollo con completa transparencia.
        </span>
    </div>

    <div
        class="p-5 shadow-xl border rounded-xl mb-4 text-center"
        style="grid-row: span 3;"
    >
        <div class="justify-start">
            <img
                alt="form-redirect-button"
                class="mt-3 mr-2 mb-10"
                src="/images/swift.png"
            />
        </div>
        <span class="text-black font-bold rounded-full"
            >Asesoramiento Técnico</span
        >
    </div>
    <div
        class="p-5 shadow-xl border rounded-xl"
        style="grid-row: span 2; background-image: url('/images/excalidraw.png'); background-size: cover; background-position: center;"
    >
    </div>

    <div
        class="p-2 pt-3.5 shadow-xl border rounded-xl flex flex-col justify-start"
        style="grid-column: span 2;"
    >
        <div class="overflow-hidden" style="width: 100%;">
            <div class="animate-marquee">
                <div class="flex">
                    <span class="badge m-1">Innovación</span>
                    <span class="badge m-1">Transparencia</span>
                    <span class="badge m-1">Perseverancia</span>
                    <span class="badge m-1">Creatividad</span>
                    <span class="badge m-1">Experiencia</span>
                    <span class="badge m-1">Determinación</span>
                </div>
                <div class="flex">
                    <span class="badge m-1">Innovación</span>
                    <span class="badge m-1">Transparencia</span>
                    <span class="badge m-1">Perseverancia</span>
                    <span class="badge m-1">Creatividad</span>
                    <span class="badge m-1">Experiencia</span>
                    <span class="badge m-1">Determinación</span>
                </div>
            </div>
            <div class="animate-marquee">
                <div class="flex">
                    <span class="badge m-1">Comunicación</span>
                    <span class="badge m-1">Excelencia</span>
                    <span class="badge m-1">Pasión</span>
                    <span class="badge m-1">Agilidad</span>
                    <span class="badge m-1">Compromiso</span>
                    <span class="badge m-1">Valentía</span>
                </div>
                <div class="flex">
                    <span class="badge m-1">Comunicación</span>
                    <span class="badge m-1">Excelencia</span>
                    <span class="badge m-1">Pasión</span>
                    <span class="badge m-1">Agilidad</span>
                    <span class="badge m-1">Compromiso</span>
                    <span class="badge m-1">Valentía</span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .animate-marquee {
        display: flex;
        min-width: 200%;
        animation: marquee 20s linear infinite;
    }

    .overflow-hidden {
        overflow: hidden;
        white-space: nowrap;
    }

    .badge {
        padding: 0.5rem 1rem;
        border-radius: 10%;
        background-color: #eee9f2;
        font-size: 0.95rem;
    }
</style>
