---
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Everglow ofrece desarrollo de software a medida y soluciones SaaS para startups en early stage y creadores de contenido. Especialistas en desarrollo web ágil y escalable."
        />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="https://www.everglow.es" />

        <meta name="generator" content={Astro.generator} />
        <title>Desarrollo de Software y SaaS para Startups | Everglow</title>
    </head>
    <body
        class="bg-gradient-to-l from-white via-fuchsia-100/50 to-stone-100/80
            dark:from-[#1D1E28]
            dark:via-[#1D1E28]
            dark:to-[#1D1E28]"
    >
        <Header />
        <slot />
    </body>
</html>
<style is:global>
    @font-face {
        font-family: 'Onest';
        src: url('/fonts/Onest/Onest.ttf') format('truetype');
    }

    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }

    html {
        font-family: 'Onest', sans-serif;
        background: #ffff;
        background-size: 224px;
        color-scheme: light dark;
        color: rgb(100, 105, 142);
    }
    h1,
    h2,
    h3,
    strong {
        color: red;
    }

    span > strong {
        color: #000000;
        font-weight: 700;
    }

    h1 {
        font-size: 72px;
        line-height: 77px;
        font-weight: 600;
    }

    h2 {
        font-size: 56px;
        line-height: 62px;
        font-weight: 600;
    }

    h3 {
        font-size: 23px;
        line-height: 29px;
        font-weight: 600;
    }

    .description {
        color: rgb(42, 45, 69);
        font-size: 25px;
        line-height: 36px;
        font-weight: 500;
    }

    .subtitle {
        color: rgb(63, 65, 86);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    @media (max-width: 768px) {
        .description {
            font-size: 22px;
        }

        h1 {
            font-size: 62px;
            line-height: 70px;
        }

        h2 {
            font-size: 48px;
            line-height: 48px;
        }
    }
</style>
